@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background-color: #f0f2f5;
    color: #333;
}


header {
    background-color: rgb(227, 6, 19);
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 8.125rem;
}


.nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}


.nav-link a {
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


.main-nav .nav-list {
    list-style: none;
    margin: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.imagens {
    width: 50%;
    display: flex;
    flex-direction: row;
}


.image-header {
    width: 24%;
    height: 5%;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-left: 5px;
}

.image-header2 {
    width: 19.7%;
    height: 5%;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-left: 5px;
}


.line-header {
    height: 50px;
    width: 3px;
    background-color: #ffffff;
    margin: 0 20px;
    margin-right: 20px;
}


.menu-mobile ul {
    background-color: #e30613;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 82px;
    right: 0;
    width: 405px;
    max-height: 0;
    transition: max-height 1s ease, visibility 1s ease;
    visibility: hidden;
    overflow: hidden;
    margin-right: 0;
    z-index: 4;
    display: inline;
    flex-direction: column;
    gap: 0.5rem;
  }
 
  .menu-mobile.abrir ul {
    visibility: visible;
    max-height: 35.25rem;
  }
 
  .menu-mobile ul li:hover {
    background-color: #000000c4;
  }
 
  .menu-mobile ul .menu-title:hover {
    background-color: #e30613;
  }
 
  .menu-mobile ul li {
    display: flex;
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
  }
 
  .menu-mobile ul .filosofia{
    width: 30rem;
    display: flex;
    justify-content: left;
    flex-direction: row;
  }
 
  .menu-mobile ul li div{
    width: 20.7rem;
    display: block;
  }
 
  .menu-mobile ul .filosofia div{
    width: 20.7rem;
    display: block;
    border-bottom: 0 solid #ffffff;
  }
 
  .menu-mobile ul li a {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: left;
    color: var(--color-fonteBranca);
    text-decoration: none;
    border-bottom: 0.3px solid #ffffff;
    font-weight: bold;
    font-size: 1rem;
  }
 
  .menu-mobile ul li div h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 1px solid #ffffff;
  }
 
  .menu-mobile ul li .materias{
    width: 12rem;
  }
 
  #btn-menu {
    width: 45px;
    height: 45px;
    border: 0px solid #ff0000;
    background: transparent;
    border-radius: 10px;
    right: 30px;
    top: 20px;
    cursor: pointer;
  }
 
  .linha {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    display: flex;
    margin: 10px auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
  }
 
  #btn-menu.ativo .linha:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
    background-color: #ffffff;
  }
 
  #btn-menu.ativo .linha:nth-child(3) {
    transform: translateY(-15px) rotate(45deg);
    background-color: #ffffff;
  }
 
  #btn-menu.ativo .linha:nth-child(2) {
    width: 0;
  }
 
  #menu-materias {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
 
  .arrow{
    width: 1rem;
    height: 1rem;
    z-index: 10;
    transform: rotate(90deg);
    transition: .3s;
  }
 
  .btn-menu2:hover{
    background-color: #000;
  }
 
  #btn-menu2.ativado .arrow{
    transform: rotate(0deg) ;
  }
 
  #btn-menu2 {
    height: 10px;
    border: 0px solid #ff0000;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
 
  #menu-menu ul {
    position: absolute;
    right: 0;
    top: 40.34rem;
    background-color: #e30613;
    z-index: 5;
    width: 405px;
    max-height: 0;
    transition: max-height 0.5s ease, visibility 1s ease;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
    list-style: none;
    justify-content: left;
    gap: 0.5rem;
  }
 
  .menu-menu ul li {
    display: block;
    padding: 6px ;
    font-size: 1rem;
  }
 
  .menu-menu ul li div{
    display: block;
    width: 22rem;
  }
 
  .menu-menu ul li a {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: left;
    color: var(--color-fonteBranca);
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
    font-weight: 600;
  }
 
  #menu-menu a {
    margin-left: 2.5rem;
    text-decoration: none;
    color: #e0e0e0;
    border-bottom: 1px solid #ffffff;
    font-size: 0.9rem;
  }
 
  #menu-menu.aberto ul {
    visibility: visible;
    max-height: 30.25rem;
  }


.painel {
    position: relative;
}


.painel-image {
    position: relative;
    width: 100%;
    filter: brightness(50%);
}


.painel-text {
    position: absolute;
    color: aliceblue;
    top: 170px;
    left: 50px;
    font-size: 2.5rem;
}


.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}


.carousel-list {
    cursor: pointer;
    border: 0px solid rgb(0, 0, 0);
    font-size: 1.075rem;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    transition: 1328ms;
    width: 13%;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 3rem;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(178deg, #e30613 0%, rgb(92, 0, 0) 100%);
    --hover-bgc: #eb0606;
    --hover-color: #ffffff;
    --hover-borderc: #fa0000;
    --hover-width: 323px;
    --hover-borderSize: 0px;
}


.carousel-list:hover {
    color: rgb(255, 255, 255);
    width: 14.5%;
    background: linear-gradient(178deg, #e30613 0%, rgb(92, 0, 0) 100%);
    border-color: #e30613;
    border-width: 0px;
    border-style: solid;
}

