@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.site-header{
    background-color: #e30613;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 130px;
}

.nav-link{
    color: #ffffff;
}

.main-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-right: 50px;
}

.imagens {
    width: 900px;
    display: flex;
    flex-direction: row;
}

.image-header{
    width: 300px;
    height: 5%;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-left: 5px;
}

.image-header2{
    width: 270px;
    height: 5%;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-left: 5px;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.line01 {
    width: 400px;
    height: 3px;
    background-color: #800000; /* Um vermelho escuro para a linha */
    margin: 10px auto 20px auto;
}


.line02 {
    width: 500px;
    height: 3px;
    background-color: #800000; /* Um vermelho escuro para a linha */
    margin: 10px auto 20px auto;
}


.foto-placeholder {
    width: 750px;
    height: 430px;
    margin: 0 auto;
    border: #333 solid;
}


/* Estilos para o menu de seções (Carreiras, Dicas, etc.) */
.menu-secoes {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-item {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 30px;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
    width: 250px;
}
.menu-item:hover{
    background-color: #e30613;
    color: #ffffff;
}

.header-banner{
    display: inline-block;
    position: relative;
}

.banner-text {
    position: absolute;
    margin-top: 250px;
    margin-left: 30px;
}

.banner {
    padding: 0;
    width: fit-content;
    height: 600px;
    filter: brightness(0.6);
}

.title-section {
    text-align: center;
}

.line03 {
    width: 300px;
    height: 3px;
    background-color: #800000; /* Um vermelho escuro para a linha */
    margin: 10px auto 20px auto;
} 

.foto-placeholder {
    width: 750px;
    height: 430px;
    margin: 0 auto;
    border: #333 solid;
}

.participantes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px; 
}


.participante {
    width: 20%;
    margin: 20px;
    text-align: center;
    background-color: transparent;
    color: #fff;
}

.participante img {
    width: 300px; 
    height: 300px; 
    border-radius: 50%;
    border: 5px solid #202020; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.participante img:hover {
    transform: scale(1.1); 
}


.participante h3, .participante p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #d82f0d;
    line-height: 1.2; 
}

.participante p {
    color: #000000; 
    font-size: 0.9em; 
}


.participante:nth-child(4) {
    margin-left: 10%; 
}

.participante:nth-child(5) {
    margin-right: 10%; 
}

.footer-geral {
    background-color: #9A1915;
    height: 100%;
    color: #ffffff;
}

.line04 {
    background-color: #e30613;
    height: 50px;
    border: #e30613;
}

